
body {
	margin: 6px;
}

/* ul#menu-list li {
	color: red;
	padding-bottom: 6px;
} */

a.not-underlined {
	text-decoration: none;
}

.negative {
  background-color: red;
}

/* Common style for All panels, ie div elements whose id ends with -panel
   Could have used: div#input-panel, div#rest-panel, ... etc */
div[id$="-panel"] { 
  padding-left: 8px;
}

div[id$="-panel"] h3 {  /* Add spacing above `h3` headings within panels */
  padding-top: 6px;
}

div#panel-buttons button {
  margin-left: 4px;	
}

span[id^="ee2"] { /* For REST / JSON fields, with id's starting with `ee2` , give them a border */
    border: orange solid 2px;
    padding: 10px;	
}

body {background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
background-size: 110px 200px;
background-repeat: repeat-x;
color: white;
font-family:"Comic Sans MS", cursive, sans-serif;
}

button {
  background-color: #ff8000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

